.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 );
  margin: 0 auto;
  max-width: 400px;
  background: transparent;
}

form {
  padding: 3rem;
}

.navbar, .footer {
  background: transparent;
}

article {
  position: fixed;
  bottom: 0;
}

::placeholder {
  color: black;
}